@model DemoWebApp.Controllers.CustomerUpdateModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit"/>
}

@Html.ActionLink("Back to list", "Index") | @Html.ActionLink("Back to Details", "Details", new {id= Model.Id})
