@model System.Collections.Generic.IEnumerable<Abstracts.PersistenceDtos.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Creer", "Create")

<ul>
    @foreach (var c in Model)
    {
        <li>@Html.ActionLink(c.Email, "Details", new {id = c.Id.Split('/')[1]}) - @Html.ActionLink("Edit", "Edit", new {id = c.Id.Split('/')[1]})</li>
    }
</ul>
